<div class="container mt-5">


    <div class="card bg-dark2">
        <div class="card-body">
            <h2>Mi cuenta</h2>

            <div class="row">
                <div class="col-4">
                    <img class="img-circle" src="assets/img/default/img-user.jpg" alt="">
                </div>

                <div class="col-4">
                    <label>Alias</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>